<dialog id="failed-message-dialog">
  <form method="dialog">
    <div class="info">
      <img src="/images/error.svg" alt="">
      <p id="failed-message-text"></p>
    </div>
    <div class="form-buttons">
      <button>OK</button>
    </div>
  </form>
</dialog>