<dialog id="folder-info-dialog">
  <form method="dialog">
    <p>
      Name: <span class="info-of-folder-name"><%=folderName%></span>
    </p>
    <div class="form-buttons">
      <button>Close</button>
    </div>
  </form>
</dialog>