<section title="<%=folder.name%>" class="folder">
  <a href=<%="/folders/"+folder.id%>>
    <img class="folder-icon" src="/images/folder.svg" alt="">
    <h3 class="folder-name">
      <%=folder.name%>
    </h3>
  </a>
</section>