<header class="main-header">
  <h1 class="folder-name"><%=folderName%></h1>
  <div class="action-buttons">
    <button>Edit</button>
    <button>Delete</button>
    <button>Not Sharing</button>
  </div>
</header>
