<header class="main-header">
  <h1 class="folder-name"><%=folderName%></h1>
  <div class="action-buttons">
    <button id="rename-folder-button">Rename</button>
    <button id="delete-folder-button">Delete</button>
    <button id="sharing-folder-button">Not Sharing</button>
  </div>
</header>