<header class="main-header">
  <div class="action-buttons">
    <div class="menu-wrapper">
      <h1 class="folder-name">
        <button type="button" id="current-folder-name-heading"><%=folderName%></button>
      </h1>
      <div class="left narrow" id="folder-left-action-buttons">
        <button class="action-button" id="rename-folder-button" aria-label="rename">
          <img class="icon" src="/images/rename.svg" alt="">
        </button>
        <%if(!isRoot){%>
        <button class="action-button" id="delete-folder-button" aria-label="delete">
          <img class="icon" src="/images/trash.svg" alt="">
        </button>
        <%}%>
        <button class="action-button" id="sharing-folder-button" aria-label="sharing">
        <img class="icon" src="/images/share.svg" alt="">
          <span class="text">
            <%=sharing?'Sharing':'Not Sharing'%>
        </span>
        </button>
        <%if(sharing){%>
        <button class="action-button" id="copy-shared-url-button" data-id="<%=sharing.id%>" aria-label="copy link">
          <img class="icon" src="/images/link.svg" alt="">
        </button>
        <%}%>
    </div>
    </div>
    <div class="center" id="add-menu">
      <button class="action-button" id="add-menu-header" aria-label="add">
        <img class="icon" src="/images/add.svg" alt="">
      </button>
      <div class="items">
        <button id="add-files-button">Add file(s)</button>
        <button id="add-folder-button">Add folder</button>
      </div>
    </div>
    <button id="logout-button" class="right action-button" aria-label="log out">
      <img class="icon" src="/images/logout.svg" alt="">
      <span class="text">
        Logout
      </span>
    </button>
  </div>
</header>