<dialog id="logout-dialog">
  <form method="dialog">
    <p>Are you sure you want to log out?</p>
    <div class="form-buttons">
      <button>No</button>
      <button formaction="/auth/logout" formmethod="post">Yes</button>
    </div>
  </form>
</dialog>