<dialog id="progress-dialog">
  <form method="dialog">
    <p>Please wait</p>
    <progress></progress>
    <div class="form-buttons">
      <button>
        Cancel
      </button>
    </div>
  </form>
</dialog>