<dialog id="<%=dialogId%>">
  <form method="dialog">
    <label for="<%=inputId%>">Name</label>
    <input required name="name" id="<%=inputId%>" />
    <button>Submit</button>
    <button formnovalidate>Close</button>
  </form>
</dialog>