<dialog id="<%=dialogId%>">
  <form method="dialog">
    <input type="hidden" name="parentId" value="<%=parentId%>">
    <section class="field">
      <label for="<%=inputId%>">Name</label>
      <input required name="name" id="<%=inputId%>" />
    </section>
    <div class="form-buttons">
      <button>Rename</button>
      <button formnovalidate>Close</button>
    </div>
  </form>
</dialog>