<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%=error.statusCode%></title>
</head>

<body>
  <p>
    <%=error.statusCode%>
    Some thing went wrong
  </p>
  <a href="/">Go To Home</a>
</body>

</html>