<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="/stylesheets/auth.css" />
    <script src="/javascripts/auth/login.js" defer></script>
    <link rel="prefetch" href="/images/error-cross.svg" as="image" />
    <link rel="prefetch" href="/images/eye-closed.svg" as="image" />
    <link rel="prefetch" href="/images/eye-opened.svg" as="image" />
  </head>
  <body>
    <main>
      <form novalidate id="login-form" method="post" action="/auth/login">
        <section class="field">
          <label for="username">Username</label>
          <input
            type="text"
            id="username"
            name="username"
            autocomplete="username"
            required
            maxlength="25"
            aria-describedby="username-error"
          />
          <span class="error" id="username-error" aria-live="polite">
            <img src="/images/error-cross.svg" alt="" class="icon" />
            <span class="message">Required</span>
          </span>
        </section>
        <section class="field">
          <label for="password">Password</label>
          <div class="input-wrapper">
            <input
              type="password"
              id="password"
              name="password"
              autocomplete="new-password"
              required
              maxlength="128"
              aria-describedby="password-error"
            />
            <button
              aria-label="show password"
              title="show password"
              type="button"
              id="show-password-button"
              class="input-helper-button"
            >
              <img
                class="input-helper-icon password-visibility-toggle-icon"
                src="/images/eye-closed.svg"
                alt=""
              />
            </button>
          </div>
          <span class="error" id="password-error" aria-live="polite">
            <img src="/images/error-cross.svg" alt="" class="icon" />
            <span class="message">Required</span>
          </span>
        </section>
        <div class="action-buttons">
          <button>Login</button>
          <a href="/auth/signup">Create an account</a>
        </div>
      </form>
    </main>
  </body>
</html>
