<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="/stylesheets/auth.css" />
  </head>
  <body>
    <main>
      <form method="post" action="/auth/login">
        <section class="field">
          <label for="username">Username</label>
          <input
            type="text"
            id="username"
            name="username"
            autocomplete="username"
            required
            minlength="3"
            maxlength="25"
          />
        </section>
        <section class="field">
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            name="password"
            autocomplete="current-password"
            required
            minlength="8"
            maxlength="128"
          />
        </section>
        <div class="action-buttons">
          <button>Login</button>
          <a href="/auth/signup">Create an account</a>
        </div>
      </form>
    </main>
  </body>
</html>
