<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%=name%></title>
  <link rel="stylesheet" href="/stylesheets/shared_url.css">
</head>

<body>
  <main>
    <h1 class="current-folder-name"><%=currentFolder.name%></h1>
    <div class="folders-files">
      <section class="folders-area">
        <% if(folders.length!==0) {%>
        <h2>Folders</h2>
        <%}%>
        <article class="folders">
          <%for(const folder of folders){%>
        <%- include('partials/folder',{folder,forSharedPage:true}) %>
        <%}%>
      </article>
      </section>
      <section class="files-area">
        <% if(files.length!==0) {%>
        <h2>Files</h2>
        <%}%>
      <article class="files">
        <%for(const file of files){%>
        <%- include('partials/file',{file,folderId:currentFolder.id, forSharedPage:true}) %>
        <%}%>
      </article>
      </section>
    </div>
  </main>
</body>

</html>