<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="/stylesheets/signup.css" />
    <script src="/javascripts/auth/signUp.js" defer></script>
    <link rel="prefetch" href="/images/close-cross.svg" as="image" />
    <link rel="prefetch" href="/images/error-cross.svg" as="image" />
    <link rel="prefetch" href="/images/eye-closed.svg" as="image" />
    <link rel="prefetch" href="/images/eye-opened.svg" as="image" />
    <link rel="prefetch" href="/images/loading.svg" as="image" />
    <link rel="prefetch" href="/images/tick.svg" as="image" />
  </head>
  <body>
    <main>
      <form novalidate id="sign-up-form" method="post" action="/auth/signup">
        <section class="field">
          <label for="username">Username</label>
          <div class="input-wrapper">
            <input
              type="text"
              id="username"
              name="username"
              autocomplete="username"
              required
              minlength="3"
              maxlength="25"
              aria-describedby="username-error"
            />
            <img
              class="input-helper-icon username-availability"
              alt="username unavailable"
              id="username-availability-indicator"
              src="/images/close-cross.svg"
            />
          </div>
          <span class="error" id="username-error" aria-live="polite">
            <img src="/images/error-cross.svg" alt="" class="icon" />
            <span class="message">Required</span>
          </span>
        </section>
        <section class="field">
          <label for="password">Password</label>
          <div class="input-wrapper">
            <input
              type="password"
              id="password"
              name="password"
              autocomplete="new-password"
              required
              minlength="8"
              maxlength="128"
              pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"
              aria-describedby="password-error"
            />
            <button
              aria-label="show password"
              title="show password"
              type="button"
              id="show-password-button"
              class="input-helper-button"
            >
              <img
                class="input-helper-icon password-visibility-toggle-icon"
                src="/images/eye-closed.svg"
                alt=""
              />
            </button>
          </div>
          <span class="error" id="password-error" aria-live="polite">
            <img src="/images/error-cross.svg" alt="" class="icon" />
            <span class="message">Required</span>
          </span>
        </section>
        <section class="field">
          <label for="confirm-password">Confirm Password</label>
          <div class="input-wrapper">
            <input
              type="password"
              id="confirm-password"
              name="confirm_password"
              autocomplete="new-password"
              required
              aria-describedby="confirm-password-error"
            />
            <button
              aria-label="show confirm password"
              title="show confirm password"
              type="button"
              id="show-confirm-password-button"
              class="input-helper-button"
            >
              <img
                class="input-helper-icon password-visibility-toggle-icon"
                src="/images/eye-closed.svg"
                alt=""
              />
            </button>
          </div>
          <span class="error" id="confirm-password-error" aria-live="polite">
            <img src="/images/error-cross.svg" alt="" class="icon" />
            <span class="message">Required</span>
          </span>
        </section>
        <div class="action-buttons">
          <button>Sign Up</button>
          <a href="/auth/login">I have an account</a>
        </div>
      </form>
    </main>
  </body>
</html>
