<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="/stylesheets/signup.css" />
  </head>
  <body>
    <main>
      <form method="post" action="/auth/signup">
        <section class="field">
          <label for="username">Username</label>
          <input
            type="text"
            id="username"
            name="username"
            autocomplete="username"
            required
          />
        </section>
        <section class="field">
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            name="password"
            autocomplete="new-password"
            required
          />
        </section>
        <section class="field">
          <label for="confirm-password">Confirm Password</label>
          <input
            type="password"
            id="confirm-password"
            name="confirm_password"
            autocomplete="new-password"
            required
          />
        </section>
        <div class="action-buttons">
          <button>Sign Up</button>
          <a href="/auth/login">I have an account</a>
        </div>
      </form>
    </main>
  </body>
</html>
