@import url("/stylesheets/main.css");

body {
  min-height: 100vh;
  display: grid;
  place-items: center;
  background-color: var(--surface);
  color: var(--on-surface);
  margin-inline: var(--mr-xxx-sm);
}
main {
  background-color: var(--surface-container);
  padding: var(--size-600);
  border-radius: var(--size-600);
}
main > form {
  display: grid;
  gap: var(--size-rev-100);
}

section.field {
  display: grid;
  gap: var(--size-rev-100);
}

section.field > input {
  background-color: var(--surface-container-highest);
  color: var(--on-surface);
  min-inline-size: 8ch;
  border: 1px solid transparent;
  border-inline-start-width: 5px;
}

section.field > input:focus {
  border-color: var(--outline);
  outline: none;
}

section.field > input.invalid {
  border-color: var(--error);
}

section.field > input.invalid + .error {
  visibility: visible;
}

section.field > .error {
  font-size: var(--fs-x-sm);
  color: var(--error);
  display: flex;
  align-items: center;
  gap: var(--size-rev-100);
  margin-inline-start: var(--size-rev-100);
  visibility: hidden;
}

section.field > .error > .icon {
  max-height: 1em;
  max-width: 1em;
}
section.field > .error > .message {
  max-width: 35ch;
}

@media screen and (prefers-color-scheme: light) {
  section.field > .error > .icon {
    filter: brightness(0) saturate(100%) invert(13%) sepia(83%) saturate(3451%)
      hue-rotate(349deg) brightness(106%) contrast(98%);
  }
}

section.field > input,
.action-buttons > button {
  font-family: inherit;
  font-size: inherit;
  border-radius: var(--size-100);
  padding: var(--size-rev-100) var(--size-rev-200);
}

form > .action-buttons {
  display: flex;
  align-items: center;
  gap: var(--size-rev-300);
  justify-self: center;
}

form > .action-buttons > a:hover {
  text-decoration: none;
}
form > .action-buttons > button {
  padding: var(--size-rev-100) var(--size-rev-300);
  background-color: var(--primary);
  color: var(--on-primary);
  border: none;
}
form > .action-buttons > button:hover {
  cursor: pointer;
}

form > .action-buttons > :hover {
  filter: brightness(1.05);
}
form > .action-buttons > :active {
  filter: brightness(1.1);
}
