dialog {
  visibility: hidden;
  display: block;
  margin: 0 auto;
}

dialog[open] {
  animation: drop-in 200ms ease-out forwards;
}

#failed-message-dialog[open],
#progress-dialog[open] {
  animation: fade-in 500ms ease-out forwards;
  transform: translateY(calc(50vh - 50%));
}

@keyframes drop-in {
  from {
    visibility: hidden;
    transform: translateY(-100%);
  }
  to {
    visibility: visible;
    transform: translateY(calc(50vh - 50%));
  }
}

@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

.dialogs > dialog {
  border: none;
  border-radius: var(--br-sm);
  background-color: var(--surface-container-high);
  color: var(--on-surface);
}
.dialogs > dialog::backdrop {
  background-color: rgb(0 0 0 / 0.3);
}

.dialogs > dialog > form > p {
  max-inline-size: clamp(44ch, 40vw + 2rem, 70ch);
}
section.field {
  display: grid;
  gap: var(--size-50);
}

section.field > label {
  color: var(--secondary);
}
section.field > input {
  padding: var(--size-rev-100) var(--size-rev-200);
  border-radius: var(--br-x-sm);
  background-color: var(--secondary-container);
  color: var(--on-secondary-container);
  border: var(--size-25) solid var(--secondary);
}
section.field > input,
section.sub-field > input {
  font-size: inherit;
  font-family: inherit;
}
.form-buttons {
  display: flex;
  justify-content: center;
  gap: var(--size-500);
  margin-block-start: var(--size-500);
}
.form-buttons > button {
  background-color: var(--primary);
  color: var(--on-primary);
  border: none;
  border-radius: var(--br-x-sm);
  font-size: inherit;
  font-family: inherit;
  padding: var(--size-rev-100) var(--size-rev-200);
}

#share-dialog > form > .field:first-child {
  display: flex;
  margin-block-end: var(--size-100);
}
#share-dialog > form > .field:first-child > label {
  border: var(--size-25) solid var(--secondary);
  color: var(--secondary);
  border-radius: var(--br-x-sm);
  padding: var(--size-rev-100) var(--size-rev-200);
}
#share-dialog
  > form
  > .field:first-child
  > input[type="checkbox"]:focus
  + label {
  outline: var(--size-25) solid var(--outline);
}

#share-dialog > form > .field:first-child > input[type="checkbox"] {
  position: absolute;
  appearance: none;
  padding: 0;
  margin: 0;
  border: 0;
}
#share-dialog
  > form
  > .field:first-child
  > input[type="checkbox"]:checked
  + label {
  background-color: var(--secondary);
  color: var(--on-secondary);
}
#share-dialog > form > .field.duration {
  display: flex;
  flex-wrap: wrap;
  gap: var(--size-rev-100) var(--size-rev-300);
  justify-content: space-around;
  font-family: inherit;
  font-size: inherit;
}
#share-dialog > form > .field.duration > .sub-field:last-child {
  justify-self: center;
}
.sub-field > input[type="number"]::-webkit-outer-spin-button,
.sub-field > input[type="number"]::-webkit-inner-spin-button {
  opacity: 1;
}

.sub-field > input {
  max-inline-size: 4ch;
  text-align: end;
  border: none;
  border-radius: var(--br-x-sm);
  padding: var(--size-rev-100) var(--size-rev-200);
  background-color: var(--secondary-container);
  color: var(--on-secondary-container);
}
