@import url("/stylesheets/global.css");

main {
  display: grid;
  justify-content: center;
  justify-items: center;
  margin-block: var(--size-300);
  gap: var(--size-300);
}
.file-name {
  text-overflow: clip;
  max-width: 100vw;
  overflow-wrap: break-word;
}
.file-info {
  background-color: var(--surface-container);
  padding: var(--size-500);
  border-radius: var(--br-sm);
}

.file-info > ul {
  list-style-type: none;
  padding-inline-start: 0;
  margin: 0;
}
.action-buttons {
  display: flex;
  gap: var(--size-200);
  flex-wrap: wrap;
  justify-content: center;
}
.action-buttons > button,
.download-link {
  padding: var(--size-rev-100) var(--size-rev-200);
  border: none;
  border-radius: var(--br-x-sm);
  background-color: var(--primary-container);
  font-size: inherit;
  font-family: inherit;
  color: var(--on-primary-container);
  display: flex;
  align-items: center;
  gap: var(--size-rev-100);
}
.download-link {
  background-color: var(--primary);
  text-decoration: none;
  color: var(--on-primary);
}

.button-icon {
  inline-size: 1em;
  block-size: 1em;
}

.dialogs > dialog {
  border: none;
  border-radius: var(--br-sm);
  background-color: var(--surface-container-high);
  color: var(--on-surface);
}
.dialogs > dialog::backdrop {
  background-color: rgb(0 0 0 / 0.3);
}

.dialogs > dialog > form > p {
  max-inline-size: clamp(44ch, 40vw + 2rem, 70ch);
}
section.field {
  display: grid;
  gap: var(--size-50);
}

section.field > label {
  color: var(--secondary);
}
section.field > input {
  padding: var(--size-rev-100) var(--size-rev-200);
  border-radius: var(--br-x-sm);
  background-color: var(--secondary-container);
  color: var(--on-secondary-container);
  border: var(--size-25) solid var(--secondary);
}
section.field > input,
section.sub-field > input {
  font-size: inherit;
  font-family: inherit;
}
.form-buttons {
  display: flex;
  justify-content: center;
  gap: var(--size-500);
  margin-block-start: var(--size-500);
}
.form-buttons > button {
  background-color: var(--primary);
  color: var(--on-primary);
  border: none;
  border-radius: var(--br-x-sm);
  font-size: inherit;
  font-family: inherit;
  padding: var(--size-rev-100) var(--size-rev-200);
}

#share-dialog > form > .field:first-child {
  display: flex;
  margin-block-end: var(--size-100);
}
#share-dialog > form > .field:first-child > label {
  border: var(--size-25) solid var(--secondary);
  color: var(--secondary);
  border-radius: var(--br-x-sm);
  padding: var(--size-rev-100) var(--size-rev-200);
}
#share-dialog
  > form
  > .field:first-child
  > input[type="checkbox"]:focus
  + label {
  outline: var(--size-25) solid var(--outline);
}

#share-dialog > form > .field:first-child > input[type="checkbox"] {
  position: absolute;
  appearance: none;
  padding: 0;
  margin: 0;
  border: 0;
}
#share-dialog
  > form
  > .field:first-child
  > input[type="checkbox"]:checked
  + label {
  background-color: var(--secondary);
  color: var(--on-secondary);
}
#share-dialog > form > .field.duration {
  display: flex;
  flex-wrap: wrap;
  gap: var(--size-rev-100) var(--size-rev-300);
  justify-content: space-around;
  font-family: inherit;
  font-size: inherit;
}
#share-dialog > form > .field.duration > .sub-field:last-child {
  justify-self: center;
}
.sub-field > input[type="number"]::-webkit-outer-spin-button,
.sub-field > input[type="number"]::-webkit-inner-spin-button {
  opacity: 1;
}

.sub-field > input {
  max-inline-size: 4ch;
  text-align: end;
  border: none;
  border-radius: var(--br-x-sm);
  padding: var(--size-rev-100) var(--size-rev-200);
  background-color: var(--secondary-container);
  color: var(--on-secondary-container);
}
