@import url("/stylesheets/global.css");
@import url("/stylesheets/common-dialog-styles.css");

main {
  display: grid;
  justify-content: center;
  justify-items: center;
  margin-block: var(--size-300);
  gap: var(--size-300);
}
.file-name {
  text-overflow: clip;
  max-width: 100vw;
  overflow-wrap: break-word;
}
.file-info {
  background-color: var(--surface-container);
  padding: var(--size-500);
  border-radius: var(--br-sm);
}

.file-info > ul {
  list-style-type: none;
  padding-inline-start: 0;
  margin: 0;
}
.action-buttons {
  display: flex;
  gap: var(--size-200);
  flex-wrap: wrap;
  justify-content: center;
}

.action-buttons > button,
.download-link {
  padding: var(--size-rev-100) var(--size-rev-200);
  border: none;
  border-radius: var(--br-x-sm);
  background-color: var(--primary-container);
  font-size: inherit;
  font-family: inherit;
  color: var(--on-primary-container);
  display: flex;
  align-items: center;
  gap: var(--size-rev-100);
}
.download-link {
  background-color: var(--primary);
  text-decoration: none;
  color: var(--on-primary);
}

.button-icon {
  inline-size: 1em;
  block-size: 1em;
}
