@import url("/stylesheets/global.css");

button {
  cursor: pointer;
}

.welcome-banner {
  font-weight: 300;
  font-size: var(--size-700);
}

.welcome-banner > .username {
  font-weight: 700;
}

.current-folder-name {
  display: flex;
  margin-inline-end: var(--size-rev-200);
}

.current-folder-name > button {
  padding: 0 var(--size-100);
  border: none;
  border-radius: var(--size-100);
  background-color: var(--primary);
  color: var(--on-primary);
  font-size: var(--fs-md);
  white-space: nowrap;
  max-inline-size: 10ch;
  overflow: hidden;
  text-overflow: ellipsis;
}

#add-menu {
  position: relative;
}
#add-menu > .action-button {
  background-color: var(--secondary-container);
  color: var(--on-secondary-container);
}

#add-menu > .items {
  position: absolute;
  visibility: hidden;
  right: -75%;
}
#add-menu > .items > button {
  background-color: var(--primary-container);
  color: var(--on-primary-container);
  min-width: max-content;
  border: none;
  padding: var(--size-100);
  border-radius: var(--size-100);
  font-size: var(--fs-x-sm);
  margin-block-start: var(--size-100);
}

#add-menu > .items.visible {
  visibility: visible;
}

.main-header > .action-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  background-color: var(--surface-container);
  color: var(--on-surface);
  margin-block: var(--size-300);
  padding-inline: var(--size-500);
  padding-block: var(--size-100);
  border-radius: var(--br-md);
}

.action-buttons > .menu-wrapper {
  display: flex;
}
.action-buttons > .menu-wrapper > .left {
  display: flex;
  justify-self: left;
  align-items: center;
  gap: var(--size-rev-200);
}

.main-header > .action-buttons > .center {
  justify-self: center;
}

.main-header > .action-buttons > .right {
  justify-self: right;
}

.action-button > .icon {
  inline-size: 1em;
  block-size: 1em;
}

@media screen and (prefers-color-scheme: light) {
  .action-button > .icon {
    filter: brightness(0) saturate(100%) invert(8%) sepia(26%) saturate(4534%)
      hue-rotate(263deg) brightness(107%) contrast(106%);
  }
  .upload-area > img {
    filter: brightness(0) saturate(100%) invert(10%) sepia(21%) saturate(997%)
      hue-rotate(243deg) brightness(95%) contrast(98%);
  }
  .folder-icon {
    filter: brightness(0) saturate(100%) invert(35%) sepia(11%) saturate(722%)
      hue-rotate(247deg) brightness(97%) contrast(87%);
  }
}

.action-button {
  display: flex;
  padding: var(--size-100);
  border: none;
  border-radius: var(--size-100);
  align-items: center;
  background-color: var(--primary-container);
  color: var(--on-primary-container);
  font-size: var(--fs-sm);
}
.action-button:hover {
  cursor: pointer;
}
.action-button > .text {
  min-width: max-content;
  font-size: var(--fs-x-sm);
}

.sharing {
  display: flex;
  align-items: center;
}

#sharing-folder-button {
  gap: var(--size-rev-100);
}
.none {
  display: none;
}

.upload-area {
  border: var(--size-25) dashed var(--secondary);
  border-radius: var(--br-x-sm);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  max-inline-size: clamp(44ch, 40vw + 2rem, 70ch);
  background-color: var(--secondary-container);
  padding: var(--size-rev-100) var(--size-rev-200);
}

.upload-area > img {
  max-inline-size: var(--size-900);
  max-block-size: var(--size-900);
}
input#files-to-upload {
  appearance: none;
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
  border: 0;
}
input#files-to-upload:focus + label {
  outline: var(--size-25) solid var(--outline);
}

.dialogs > dialog {
  border: none;
  border-radius: var(--br-sm);
  background-color: var(--surface-container-high);
  color: var(--on-surface);
}
.dialogs > dialog::backdrop {
  background-color: rgb(0 0 0 / 0.3);
}

.dialogs > dialog > form > p {
  max-inline-size: clamp(44ch, 40vw + 2rem, 70ch);
}
section.field {
  display: grid;
  gap: var(--size-50);
}

section.field > label {
  color: var(--secondary);
}
section.field > input {
  padding: var(--size-rev-100) var(--size-rev-200);
  border-radius: var(--br-x-sm);
  background-color: var(--secondary-container);
  color: var(--on-secondary-container);
  border: var(--size-25) solid var(--secondary);
}
section.field > input,
section.sub-field > input {
  font-size: inherit;
  font-family: inherit;
}
.form-buttons {
  display: flex;
  justify-content: center;
  gap: var(--size-500);
  margin-block-start: var(--size-500);
}
.form-buttons > button {
  background-color: var(--primary);
  color: var(--on-primary);
  border: none;
  border-radius: var(--br-x-sm);
  font-size: inherit;
  font-family: inherit;
  padding: var(--size-rev-100) var(--size-rev-200);
}

#share-folder-dialog > form > .field:first-child {
  display: flex;
  margin-block-end: var(--size-100);
}
#share-folder-dialog > form > .field:first-child > label {
  border: var(--size-25) solid var(--secondary);
  color: var(--secondary);
  border-radius: var(--br-x-sm);
  padding: var(--size-rev-100) var(--size-rev-200);
}
#share-folder-dialog
  > form
  > .field:first-child
  > input[type="checkbox"]:focus
  + label {
  outline: var(--size-25) solid var(--outline);
}

#share-folder-dialog > form > .field:first-child > input[type="checkbox"] {
  position: absolute;
  appearance: none;
  padding: 0;
  margin: 0;
  border: 0;
}
#share-folder-dialog
  > form
  > .field:first-child
  > input[type="checkbox"]:checked
  + label {
  background-color: var(--secondary);
  color: var(--on-secondary);
}
#share-folder-dialog > form > .field.duration {
  display: flex;
  flex-wrap: wrap;
  gap: var(--size-rev-100) var(--size-rev-300);
  justify-content: space-around;
  font-family: inherit;
  font-size: inherit;
}
#share-folder-dialog > form > .field.duration > .sub-field:last-child {
  justify-self: center;
}
.sub-field > input[type="number"]::-webkit-outer-spin-button,
.sub-field > input[type="number"]::-webkit-inner-spin-button {
  opacity: 1;
}

.sub-field > input {
  max-inline-size: 4ch;
  text-align: end;
  border: none;
  border-radius: var(--br-x-sm);
  padding: var(--size-rev-100) var(--size-rev-200);
  background-color: var(--secondary-container);
  color: var(--on-secondary-container);
}

.folders-area > h2,
.files-area > h2 {
  margin-block-end: var(--size-100);
}
.folders-area > .folders,
.folders-area > .files {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(110px, 1fr));
  gap: var(--size-300);
  margin-block-end: var(--size-100);
}
.folders-area > .folders > .folder,
.folders-area > .files > .file {
  padding: var(--size-100) var(--size-300);
  border-radius: var(--br-sm);
}
.folders-area > .folders > .folder:hover {
  background-color: var(--surface-container-high);
}

.folders-area > .folders > .folder > a,
.folders-area > .files > .file > a {
  text-decoration: none;
  color: var(--secondary);
}
.folder-name,
.file-name {
  white-space: nowrap;
  max-inline-size: 10ch;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  font-weight: 400;
}

@media screen and (min-width: 769px) {
  .upload-area {
    min-inline-size: calc(var(--size-900) * 5);
    min-block-size: calc(var(--size-900) * 2);
  }
}
@media screen and (max-width: 530px) {
  #share-folder-dialog > form > .field.duration {
    column-gap: var(--size-rev-100);
  }
}
@media screen and (max-width: 590px) {
  .menu-wrapper {
    position: relative;
  }
  .action-buttons > .menu-wrapper > .left {
    margin-block-start: var(--size-rev-200);
    visibility: hidden;
    z-index: 1;
    position: absolute;
    top: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--size-rev-200);
  }
  .action-button > .text {
    display: unset;
  }
  .current-folder-name > button {
    max-inline-size: 6ch;
  }
}
