@import url("/stylesheets/global.css");

.welcome-banner {
  font-weight: 300;
  font-size: var(--size-700);
}

.welcome-banner > .username {
  font-weight: 700;
}

.folder-name {
  display: flex;
  margin-inline-end: var(--size-rev-200);
}

.folder-name > button {
  padding: 0 var(--size-100);
  border: none;
  border-radius: var(--size-100);
  background-color: var(--primary);
  color: var(--on-primary);
  font-size: var(--fs-md);
  white-space: nowrap;
  max-inline-size: 10ch;
  overflow: hidden;
  text-overflow: ellipsis;
}

#add-menu {
  position: relative;
}
#add-menu > .action-button {
  background-color: var(--secondary-container);
  color: var(--on-secondary-container);
}

#add-menu > .items {
  position: absolute;
  visibility: hidden;
  right: -75%;
}
#add-menu > .items > button {
  background-color: var(--primary-container);
  color: var(--on-primary-container);
  min-width: max-content;
  border: none;
  padding: var(--size-100);
  border-radius: var(--size-100);
  font-size: var(--fs-x-sm);
  margin-block-start: var(--size-100);
}

#add-menu > .items.visible {
  visibility: visible;
}

.main-header > .action-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  background-color: var(--surface-container);
  color: var(--on-surface);
  margin-block: var(--size-300);
  padding-inline: var(--size-500);
  padding-block: var(--size-100);
  border-radius: var(--br-md);
}

.action-buttons > .menu-wrapper {
  display: flex;
}
.action-buttons > .menu-wrapper > .left {
  display: flex;
  justify-self: left;
  align-items: center;
  gap: var(--size-rev-200);
}

.main-header > .action-buttons > .center {
  justify-self: center;
}

.main-header > .action-buttons > .right {
  justify-self: right;
}

.action-button > .icon {
  inline-size: 1em;
  block-size: 1em;
}

@media screen and (prefers-color-scheme: light) {
  .action-button > .icon {
    filter: brightness(0) saturate(100%) invert(8%) sepia(26%) saturate(4534%)
      hue-rotate(263deg) brightness(107%) contrast(106%);
  }
  .upload-area > img {
    filter: brightness(0) saturate(100%) invert(10%) sepia(21%) saturate(997%)
      hue-rotate(243deg) brightness(95%) contrast(98%);
  }
}

.action-button {
  display: flex;
  padding: var(--size-100);
  border: none;
  border-radius: var(--size-100);
  align-items: center;
  background-color: var(--primary-container);
  color: var(--on-primary-container);
  font-size: var(--fs-sm);
}
.action-button:hover {
  cursor: pointer;
}
.action-button > .text {
  min-width: max-content;
  font-size: var(--fs-x-sm);
}

.sharing {
  display: flex;
  align-items: center;
}

#sharing-folder-button {
  gap: var(--size-rev-100);
}
.none {
  display: none;
}

.upload-area {
  border: var(--size-25) dashed var(--secondary);
  border-radius: var(--br-x-sm);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  max-inline-size: clamp(44ch, 40vw + 2rem, 70ch);
  background-color: var(--secondary-container);
}
.upload-area > img {
  max-inline-size: var(--size-900);
  max-block-size: var(--size-900);
}

.dialogs > dialog {
  border: none;
  border-radius: var(--br-sm);
  background-color: var(--surface-container-high);
  color: var(--on-surface);
}
.dialogs > dialog::backdrop {
  background-color: rgb(0 0 0 / 0.3);
}

.dialogs > dialog > form > p {
  max-inline-size: clamp(44ch, 40vw + 2rem, 70ch);
}
section.field {
  display: grid;
  gap: var(--size-50);
}

section.field > label {
  color: var(--secondary);
}
section.field > input {
  padding: var(--size-rev-100) var(--size-rev-200);
  font-size: inherit;
  font-family: inherit;
  border-radius: var(--br-x-sm);
  background-color: var(--secondary-container);
  color: var(--on-secondary-container);
  border: var(--size-25) solid var(--secondary);
}
.form-buttons {
  display: flex;
  justify-content: center;
  gap: var(--size-500);
  margin-block-start: var(--size-500);
}
.form-buttons > button {
  background-color: var(--primary);
  color: var(--on-primary);
  border: none;
  border-radius: var(--br-x-sm);
  font-size: inherit;
  font-family: inherit;
  padding: var(--size-rev-100) var(--size-rev-200);
}

@media screen and (min-width: 769px) {
  .upload-area {
    min-inline-size: calc(var(--size-900) * 5);
    min-block-size: calc(var(--size-900) * 2);
  }
}
@media screen and (max-width: 590px) {
  .menu-wrapper {
    position: relative;
  }
  .action-buttons > .menu-wrapper > .left {
    margin-block-start: var(--size-rev-200);
    visibility: hidden;
    z-index: 1;
    position: absolute;
    top: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--size-rev-200);
  }
  .action-button > .text {
    display: unset;
  }
  .folder-name > button {
    max-inline-size: 6ch;
  }
}
