@import url("/stylesheets/global.css");

.welcome-banner {
  font-weight: 300;
  font-size: var(--size-700);
}

.welcome-banner > .username {
  font-weight: 700;
}

.folder-name {
  display: flex;
  margin-inline-end: var(--size-rev-200);
}
.folder-name > button {
  background-color: unset;
  padding: 0;
  border: none;
  color: var(--primary);
  font-size: var(--fs-md);
}

#add-menu {
  position: relative;
}

#add-menu > .items {
  position: absolute;
  visibility: hidden;
}

#add-menu > .items.visible {
  visibility: visible;
}

.main-header > .action-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  background-color: var(--surface-container);
  color: var(--on-surface);
  margin-block: var(--size-300);
  padding-inline: var(--size-500);
  padding-block: var(--size-100);
  border-radius: var(--br-md);
}

.action-buttons > .menu-wrapper {
  display: flex;
}
.action-buttons > .menu-wrapper > .left {
  display: flex;
  justify-self: left;
  align-items: center;
  gap: var(--size-rev-200);
}

.main-header > .action-buttons > .center {
  justify-self: center;
}

.main-header > .action-buttons > .right {
  justify-self: right;
}

.action-button > .icon {
  inline-size: 1em;
  block-size: 1em;
}

@media screen and (prefers-color-scheme: light) {
  .action-button > .icon {
    filter: brightness(0) saturate(100%) invert(8%) sepia(26%) saturate(4534%)
      hue-rotate(263deg) brightness(107%) contrast(106%);
  }
}

.action-button {
  display: flex;
  padding: var(--size-100);
  border: none;
  border-radius: var(--size-100);
  align-items: center;
  background-color: var(--primary-container);
  color: var(--on-primary-container);
  font-size: var(--fs-sm);
}
.action-button:hover {
  cursor: pointer;
}
.action-button > .text {
  min-width: max-content;
  font-size: var(--fs-x-sm);
}

.sharing {
  display: flex;
  align-items: center;
}

#sharing-folder-button {
  gap: var(--size-rev-100);
}

@media screen and (max-width: 490px) {
  .menu-wrapper {
    position: relative;
  }
  .action-buttons > .menu-wrapper > .left {
    visibility: hidden;
    z-index: 1;
    position: absolute;
    top: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--size-rev-200);
  }
  .action-button > .text {
    display: unset;
  }
}
