@import url("/stylesheets/global.css");
@import url("/stylesheets/file-folder-styles.css");
@import url("/stylesheets/common-dialog-styles.css");

button {
  cursor: pointer;
}

.welcome-banner {
  font-weight: 300;
  font-size: var(--size-700);
}

.welcome-banner > .username {
  font-weight: 700;
}

#folder-left-action-buttons.open > #rename-folder-button {
  animation: appear 500ms backwards;
  animation-delay: 50ms;
}
#folder-left-action-buttons.open > #delete-folder-button {
  animation: appear 500ms backwards;
  animation-delay: 100ms;
}
#folder-left-action-buttons.open > #sharing-folder-button {
  animation: appear 500ms backwards;
  animation-delay: 150ms;
}
#folder-left-action-buttons.open > #copy-shared-url-button {
  animation: appear 500ms backwards;
  animation-delay: 200ms;
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}

.current-folder-name {
  display: flex;
  margin-inline-end: var(--size-rev-200);
}

.current-folder-name > button {
  padding: 0 var(--size-100);
  border: none;
  border-radius: var(--size-100);
  background-color: var(--primary);
  color: var(--on-primary);
  font-size: var(--fs-md);
  white-space: nowrap;
  max-inline-size: 10ch;
  overflow: hidden;
  text-overflow: ellipsis;
}

@keyframes drop-down {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

#add-menu.open #add-files-button {
  animation: drop-down 500ms backwards;
  animation-delay: 50ms;
}
#add-menu.open #add-folder-button {
  animation: drop-down 500ms backwards;
  animation-delay: 100ms;
}

#add-menu.open > .items {
  visibility: visible;
}

#add-menu {
  position: relative;
}
#add-menu > .action-button {
  background-color: var(--secondary-container);
  color: var(--on-secondary-container);
}

#add-menu > .items {
  position: absolute;
  visibility: hidden;
  right: -75%;
}
#add-menu > .items > button {
  background-color: var(--primary-container);
  color: var(--on-primary-container);
  min-width: max-content;
  border: none;
  padding: var(--size-100);
  border-radius: var(--size-100);
  font-size: var(--fs-x-sm);
  margin-block-start: var(--size-100);
}
.main-header {
  position: sticky;
  top: var(--size-100);
}
.main-header > .action-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  background-color: var(--surface-container);
  color: var(--on-surface);
  margin-block: var(--size-300);
  padding-inline: var(--size-500);
  padding-block: var(--size-100);
  border-radius: var(--br-md);
}

.action-buttons > .menu-wrapper {
  display: flex;
}
.action-buttons > .menu-wrapper > .left {
  display: flex;
  justify-self: left;
  align-items: center;
  gap: var(--size-rev-200);
}

.main-header > .action-buttons > .center {
  justify-self: center;
}

.main-header > .action-buttons > .right {
  justify-self: right;
  gap: var(--size-rev-100);
}

.action-button > .icon {
  inline-size: 1em;
  block-size: 1em;
}

@media screen and (prefers-color-scheme: light) {
  .action-button > .icon {
    filter: brightness(0) saturate(100%) invert(8%) sepia(26%) saturate(4534%)
      hue-rotate(263deg) brightness(107%) contrast(106%);
  }
  .upload-area > img {
    filter: brightness(0) saturate(100%) invert(10%) sepia(21%) saturate(997%)
      hue-rotate(243deg) brightness(95%) contrast(98%);
  }
}

.action-button {
  display: flex;
  padding: var(--size-100);
  border: none;
  border-radius: var(--size-100);
  align-items: center;
  background-color: var(--primary-container);
  color: var(--on-primary-container);
  font-size: var(--fs-sm);
}
.action-button:hover {
  cursor: pointer;
}
.action-button > .text {
  min-width: max-content;
  font-size: var(--fs-x-sm);
}

.sharing {
  display: flex;
  align-items: center;
}

#sharing-folder-button {
  gap: var(--size-rev-100);
}
.none {
  display: none;
}

.upload-area {
  border: var(--size-25) dashed var(--secondary);
  border-radius: var(--br-x-sm);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  max-inline-size: clamp(44ch, 40vw + 2rem, 70ch);
  background-color: var(--secondary-container);
  padding: var(--size-rev-100) var(--size-rev-200);
}

.upload-area > img {
  max-inline-size: var(--size-900);
  max-block-size: var(--size-900);
}
input#files-to-upload {
  appearance: none;
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
  border: 0;
}
input#files-to-upload:focus + label {
  outline: var(--size-25) solid var(--outline);
}

@media screen and (min-width: 769px) {
  .upload-area {
    min-inline-size: calc(var(--size-900) * 5);
    min-block-size: calc(var(--size-900) * 2);
  }
}
@media screen and (max-width: 530px) {
  #share-dialog > form > .field.duration {
    column-gap: var(--size-rev-100);
  }
}
@media screen and (max-width: 590px) {
  .menu-wrapper {
    position: relative;
  }
  .action-buttons > .menu-wrapper > .left {
    margin-block-start: var(--size-rev-200);
    visibility: hidden;
    z-index: 1;
    position: absolute;
    top: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--size-rev-200);
  }
  .action-button > .text {
    display: unset;
  }
  .current-folder-name > button {
    max-inline-size: 6ch;
  }
  @keyframes appear {
    from {
      opacity: 0;
      transform: translateY(-100%);
    }
    to {
      opacity: 1;
      transform: translateY(0%);
    }
  }
}

@media screen and (prefers-reduced-motion: reduce) {
  #folder-left-action-buttons.open > #rename-folder-button,
  #folder-left-action-buttons.open > #delete-folder-button,
  #folder-left-action-buttons.open > #sharing-folder-button,
  #folder-left-action-buttons.open > #copy-shared-url-button,
  #add-menu.open #add-files-button,
  #add-menu.open #add-folder-button {
    animation: unset;
  }
}
