@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("/fonts/InterVariable.woff2") format("woff2");
}
@font-face {
  font-family: Inter;
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url("/fonts/InterVariable-Italic.woff2") format("woff2");
}

:root {
  font-family:
    Inter,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  box-sizing: border-box;
  font-size: 16px;
  color-scheme: light dark;
  --size-100: clamp(0.38rem, 0.44rem + 0.12vw, 0.48rem);
  --size-200: clamp(0.54rem, 0.59rem + 0.16vw, 0.64rem);
  --size-300: clamp(0.7rem, 0.66rem + 0.2vw, 0.8rem);
  --size-400: clamp(0.88rem, 0.83rem + 0.24vw, 1rem);
  --size-500: clamp(1.09rem, 1rem + 0.47vw, 1.33rem);
  --size-600: clamp(1.37rem, 1.21rem + 0.8vw, 1.78rem);
  --size-700: clamp(1.71rem, 1.45rem + 1.29vw, 2.37rem);
  --size-800: clamp(2.14rem, 1.74rem + 1.99vw, 3.16rem);
  --size-900: clamp(2.67rem, 2.07rem + 3vw, 4.21rem);
  --size-1000: clamp(3.34rem, 2.45rem + 4.43vw, 5.61rem);

  --mr-xxx-sm: var(--size-100);

  --pd-md: var(--size-600);

  --pd-rev-xxx-sm: clamp(0.38rem, 0.48rem - 0.12vw, 0.48rem);
  --pd-rev-xx-sm: clamp(0.54rem, 0.64rem - 0.16vw, 0.64rem);
  --pd-rev-x-sm: clamp(0.7rem, 0.8rem - 0.2vw, 0.8rem);
  --pd-rev-sm: clamp(0.88rem, 1rem - 0.24vw, 1rem);
  --pd-rev-base: clamp(1.09rem, 1.33rem - 0.47vw, 1.33rem);
  --pd-rev-md: clamp(1.37rem, 1.78rem - 0.8vw, 1.78rem);

  --br-xxx-sm: var(--size-100);
  --br-md: var(--size-600);
}

body {
  margin: 0;
  padding: 0;
}

@media screen and (prefers-color-scheme: light) {
  :root {
    --primary: rgb(119 79 131);
    --surface-tint: rgb(119 79 131);
    --on-primary: rgb(255 255 255);
    --primary-container: rgb(250 215 255);
    --on-primary-container: rgb(46 10 59);
    --secondary: rgb(106 89 108);
    --on-secondary: rgb(255 255 255);
    --secondary-container: rgb(242 220 243);
    --on-secondary-container: rgb(36 23 39);
    --tertiary: rgb(130 82 78);
    --on-tertiary: rgb(255 255 255);
    --tertiary-container: rgb(255 218 215);
    --on-tertiary-container: rgb(51 17 15);
    --error: rgb(186 26 26);
    --on-error: rgb(255 255 255);
    --error-container: rgb(255 218 214);
    --on-error-container: rgb(65 0 2);
    --background: rgb(255 247 251);
    --on-background: rgb(31 26 31);
    --surface: rgb(255 247 251);
    --on-surface: rgb(31 26 31);
    --surface-variant: rgb(235 223 233);
    --on-surface-variant: rgb(76 68 76);
    --outline: rgb(126 116 125);
    --outline-variant: rgb(207 195 205);
    --shadow: rgb(0 0 0);
    --scrim: rgb(0 0 0);
    --inverse-surface: rgb(52 47 52);
    --inverse-on-surface: rgb(248 238 245);
    --inverse-primary: rgb(230 182 241);
    --primary-fixed: rgb(250 215 255);
    --on-primary-fixed: rgb(46 10 59);
    --primary-fixed-dim: rgb(230 182 241);
    --on-primary-fixed-variant: rgb(94 56 106);
    --secondary-fixed: rgb(242 220 243);
    --on-secondary-fixed: rgb(36 23 39);
    --secondary-fixed-dim: rgb(213 192 215);
    --on-secondary-fixed-variant: rgb(81 66 84);
    --tertiary-fixed: rgb(255 218 215);
    --on-tertiary-fixed: rgb(51 17 15);
    --tertiary-fixed-dim: rgb(245 183 179);
    --on-tertiary-fixed-variant: rgb(102 59 56);
    --surface-dim: rgb(225 215 222);
    --surface-bright: rgb(255 247 251);
    --surface-container-lowest: rgb(255 255 255);
    --surface-container-low: rgb(251 241 248);
    --surface-container: rgb(245 235 242);
    --surface-container-high: rgb(239 229 237);
    --surface-container-highest: rgb(234 224 231);
  }
}

@media screen and (prefers-color-scheme: dark) {
  :root {
    --primary: rgb(230 182 241);
    --surface-tint: rgb(230 182 241);
    --on-primary: rgb(69 33 82);
    --primary-container: rgb(94 56 106);
    --on-primary-container: rgb(250 215 255);
    --secondary: rgb(213 192 215);
    --on-secondary: rgb(58 43 61);
    --secondary-container: rgb(81 66 84);
    --on-secondary-container: rgb(242 220 243);
    --tertiary: rgb(245 183 179);
    --on-tertiary: rgb(76 37 35);
    --tertiary-container: rgb(102 59 56);
    --on-tertiary-container: rgb(255 218 215);
    --error: rgb(255 180 171);
    --on-error: rgb(105 0 5);
    --error-container: rgb(147 0 10);
    --on-error-container: rgb(255 218 214);
    --background: rgb(22 18 23);
    --on-background: rgb(234 224 231);
    --surface: rgb(22 18 23);
    --on-surface: rgb(234 224 231);
    --surface-variant: rgb(76 68 76);
    --on-surface-variant: rgb(207 195 205);
    --outline: rgb(152 142 151);
    --outline-variant: rgb(76 68 76);
    --shadow: rgb(0 0 0);
    --scrim: rgb(0 0 0);
    --inverse-surface: rgb(234 224 231);
    --inverse-on-surface: rgb(52 47 52);
    --inverse-primary: rgb(119 79 131);
    --primary-fixed: rgb(250 215 255);
    --on-primary-fixed: rgb(46 10 59);
    --primary-fixed-dim: rgb(230 182 241);
    --on-primary-fixed-variant: rgb(94 56 106);
    --secondary-fixed: rgb(242 220 243);
    --on-secondary-fixed: rgb(36 23 39);
    --secondary-fixed-dim: rgb(213 192 215);
    --on-secondary-fixed-variant: rgb(81 66 84);
    --tertiary-fixed: rgb(255 218 215);
    --on-tertiary-fixed: rgb(51 17 15);
    --tertiary-fixed-dim: rgb(245 183 179);
    --on-tertiary-fixed-variant: rgb(102 59 56);
    --surface-dim: rgb(22 18 23);
    --surface-bright: rgb(61 55 61);
    --surface-container-lowest: rgb(17 13 18);
    --surface-container-low: rgb(31 26 31);
    --surface-container: rgb(35 30 35);
    --surface-container-high: rgb(45 40 46);
    --surface-container-highest: rgb(57 51 57);
  }
}
